@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{

	
}

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
}

.contenido{
	background-color: rgb(255, 240, 220);
	position: fixed;
	height: 100%;
	width: 100%;
}
.panel-izq{
	position: absolute;
	width: 20%;
	height: 100%;
	left: 0px;
}
	.botones-modo{
		position: relative;
		top: 30%;
		left: 50px;
	}
	
	.boton-modo {
		box-shadow: 3px 6px 0px 0px rgba(163,163,163,1);
		background-color: rgb(235, 235, 235);
		border-radius:28px;
		border:1px solid #bdbdbd;
		display:inline-block;
		cursor:pointer;
		font-size:20px;
		padding:15px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
		transition: 0.5s;
		height: 80px;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.boton-modo:hover {
		background-color: rgba(163,163,163,1);
	}
	.boton-modo:active {
		position:relative;
		top:1px;
	}

.panel-centro{
	position: absolute;
	width: 60%;
	height: 100%;
	left: 20%;
}
.panel-der{
	position: absolute;
	width: 20%;
	height: 100%;
	right: 0px;
}


/****************** CALCULADORA BÃSICA ******************************/

.calculadora-basica{
	position: absolute;
	left: 20%;
	top: 20%;
	width: 70%;
	height: 60%;
	background-color: rgb(235, 235, 235);
	box-shadow: 10px 10px 0px 0px rgba(163,163,163,1);
	border-radius: 10px;
	border: 2px solid #bdbdbd;
	padding: 10px;
}
.operacion{
	position: relative;
	height: 20%;
	width: calc(100% - 20px); 
}
	.operacion > input[type="text"]{
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		text-align: right;
		font-size: 50px;
	}

.botones-calc-basica{
	height: 80%;
	width: calc(100% - 20px); 
}
	.numeros-calc-basica{
		float: left;
		position: relative;
		height: 100%;
		width: 70%;
	}
		.boton-numero{
			position: relative;
			display: inline-block;
			text-align: center;
			float: left;
			width: 33%;
			height: 25%;
			background-color: rgba(163,163,163,0);
		}
			.boton-numero> p{
				position: relative;
				top: calc(50% - 35px);
				font-size: 50px;
			}
			.boton-numero:hover{
				background-color: rgba(163,163,163,1);
			}

	.operaciones-calc-basica{
		float: left;
		position: relative;
		display: inline-block;
		text-align: center;
		height: 100%;
		width: 30%;
	}
		.boton-op{
			position: relative;
			display: inline-block;
			text-align: center;
			float: left;
			width: 50%;
			height: 20%;
			background-color: rgba(163,163,163,0);
		}
			.boton-op> p{
				position: relative;
				top: calc(50% - 35px);
				font-size: 50px;
			}
			.boton-op:hover{
				background-color: rgba(163,163,163,1);
			}
/*****************************  CALCULADORA AVANZADA ****************************************/



.calculadora-avanzada{
	visibility: hidden;

	position: absolute;
	left: 20%;
	top: 20%;
	width: 70%;
	height: 60%;
	background-color: rgb(235, 235, 235);
	box-shadow: 10px 10px 0px 0px rgba(163,163,163,1);
	border-radius: 10px;
	border: 2px solid #bdbdbd;
	padding: 10px;
}
.operacion{
	position: relative;
	height: 20%;
	width: calc(100% - 20px); 
}
	.operacion > input[type="text"]{
		width: 100%;
		height: 100%;
		background-color: transparent;
		border-bottom: 1px solid;
		text-align: right;
		font-size: 50px;
	}

.botones-calc-avanzada{
	height: 80%;
	width: calc(100% - 20px); 
}
	.numeros-calc-avanzada{
		float: left;
		position: relative;
		height: 100%;
		width: 50%;
	}
		.boton-numero-adv{
			position: relative;
			display: inline-block;
			text-align: center;
			float: left;
			width: 33%;
			height: 25%;
			background-color: rgba(163,163,163,0);
		}
			.boton-numero-adv> p{
				position: relative;
				top: calc(50% - 35px);
				font-size: 50px;
			}
			.boton-numero-adv:hover{
				background-color: rgba(163,163,163,1);
			}

	.operaciones-calc-avanzada{
		float: left;
		position: relative;
		display: inline-block;
		text-align: center;
		height: 100%;
		width: 50%;
	}
		.boton-op-adv{
			position: relative;
			display: inline-block;
			text-align: center;
			float: left;
			width: 50%;
			height: 25%;
			background-color: rgba(163,163,163,0);
		}
			.boton-op-adv> p{
				position: relative;
				top: calc(50% - 35px);
				font-size: 30px;
			}
			.boton-op-adv:hover{
				background-color: rgba(163,163,163,1);
			}